<% include ('header') %>

<div class="container">
  <h1>Messbot</h1>
  <p class="lead">
    open 24/24!
  </p>
  <p>
    Messenger Bot
  </p>
  <ul>
    <li>
      By 
      <a href="#"
        >Min-Tri</a
      >
    </li>
    <li>
      Want to build your own?
      <a
        href="https://developers.facebook.com/docs/messenger-platform/getting-started/"
        >DevDocs</a
      >
    </li>
  </ul>
</div>

<% include ('footer') %>
